* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  background-color: rgb(250, 250, 250);
  position: relative;
}

header {
  margin-top: -39px;
  padding: 5px 0;
  background-color: white;
  transform: translateY(calc(100% - 5px));
  transition: transform 0.5s ease-in-out;
  position: fixed;
  z-index: 5;
  width: 80%;
  top: 0;
}

.st0{
  fill:#121212;
}

.st1{
  fill:#F7991C;
}

.st2{
  fill:#B0B0B5;
}

.bell {
  margin: 3px 15px;
  fill: rgb(188, 192, 206)
}

.bell:hover {
  fill: rgb(152, 157, 175)
}

.letterFont {
  color: white;
  background-color: rgb(248, 142, 23);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
}

input:hover ~ .letterFont {
  background-color: rgb(255, 130, 0);
}

.letterFont p {
  padding-top: 5px;
}

nav {
  height: 30px;
}

#menuToggle {
  display: block;
  position: relative;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle input:checked ~ ul{
  transform: none;
}

#menu {
  position: absolute;
  width: 200px;
  right: 0;
  padding: 0;
  margin: 3px 0 0;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: scaleY(0);
  transition: transform 0 ease-in-out;
  z-index: 6;
}

#menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menu a li:hover {
  background-color: rgb(250, 250, 250);
}

#menu li {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  margin: 5px 10px;
}

#menu > li {
  text-align: center;
  border-bottom: 1px solid rgb(205, 205, 205);
}

main {
  margin-top: 39px;
  height: calc(100vh - 75px);
}

.main-container {
  padding: 5vh 0;
  height: calc(100% - 10vh);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  padding: 10px;
  font-weight: 700;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  text-align: start;
}

.binary-container {
  grid-area: 1 / 1 / 5 / 4;
  background-color: white;
  position: relative;
}

.binary-container svg {
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.binary-container button {
  padding: 10px 25px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(43, 143, 255);
  color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.binary-container button:hover {
  background-color: rgb(0, 60, 150);
}

.js-container {
  grid-area: 1 / 4 / 7 / 7;
}

.js-container-front {
  background-color: rgb(247, 207, 105);
  color: black;
  font-size: 5rem;
  font-weight: 900;
}

.js-container-front p {
  position: absolute;
  bottom: 0;
  right: 0;
}

.qa-container {
  grid-area: 5 / 1 / 9 / 4;
}

.qa-container-front {
  background-color: rgb(82, 191, 119);
  color: white;
  font-size: 5rem;
  font-weight: 700;
}

.qa-container-front p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide-card {
  background-color: transparent;
  perspective: 1000px;
}

.hide-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.hide-card-front {
  transform: scale(1, 1);
  z-index: 1;
}

.hide-card-front p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide-card-back p {
  padding: 10px;
  font-weight: 700;
  color: black;
}

.hide-card-front, .hide-card-back {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.java-container {
  grid-area: 7 / 4 / 9 / 7;
}

.java-container-front {
  background-color: rgb(225, 43, 76);
  color: white;
  font-size: 3rem;
  font-weight: 700;
  transform-origin: 0% 100%;
}

.hide-card:hover .java-container-front{
  transform: scaleY(0);
}

.php-container {
  grid-area: 1 / 7 / 4 / 13;
}

.php-container-front {
  background-color: rgb(136, 147, 192);
  color: black;
  font-size: 5rem;
  font-weight: 700;
  transform-origin: 100% 0%;
}

.hide-card:hover .php-container-front{
  transform: scale(0, 0);
}

.net-container {
  grid-area: 4 / 7 / 9 / 11;
}

.net-container-front {
  background-color: rgb(100, 32, 119);
  color: white;
  font-size: 5rem;
  font-weight: 700;
  transform-origin: 100% 100%;
}

.hide-card:hover .net-container-front{
  transform: scale(0, 0);
}

.events-container {
  grid-area: 4 / 11 / 6 / 13;
}

.events-container-front {
  background-color: rgb(45, 153, 255);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  transform-origin: 100% 100%;
}

.hide-card:hover .events-container-front{
  transform: scaleX(0);
}

.events-container .hide-card-back {
  overflow: auto;
}

.blog-container {
  grid-area: 6 / 11 / 8 / 13;
}

.blog-container-front {
  background-color: rgb(4, 67, 163);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  transform-origin: 100% 100%;
}

.hide-card:hover .blog-container-front{
  transform: scaleX(0);
}

.blog-container .hide-card-back {
  overflow: auto;
}

.contacts-container {
  grid-area: 8 / 11 / 9 / 13;
}

.contacts-container-front {
  background-color: rgb(0, 38, 95);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  transform-origin: 100% 100%;
}

.hide-card:hover .contacts-container-front{
  transform: scaleX(0);
}

.contacts {
  list-style: none outside none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: 400;
  color: black;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.contacts li {
  width: 24px;
  margin: 0 5%;
}

.contacts li a.facebook:hover {
  fill: #3b5998;
}

.contacts li a.telegram:hover {
  fill: rgb(45, 170, 226);
}

.contacts li a.instagram:hover {
  fill: rgb(205, 73, 113);
}

.footer-container {
  text-align: center;
  margin-bottom: 10px;
  color: black;
  font-weight: 700;
}

.messages-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.message {
  position: relative;
  width: 200px;
  opacity: 0.8;
  margin-bottom: 25px;
  border-radius: 5px;
  display: flex;
}

.message .icon-container {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
}

.message .icon-container p {
  padding-left: 9px;
  color: black;
  font-size: 20px;
  font-weight: 900;
}

.message .message-container {
  margin: 25px 10px 25px 50px;
}

.error-message {
  /* display: none; */
  background-color: red;
}

.success-message {
  /* display: none; */
  background-color: green;
}

.warning-message {
  display: none;
  background-color: orange;
}

.flex{
  display: flex;
}

.container-padding {
  padding-left: 10%; 
  padding-right: 10%; 
}

.space-between {
  justify-content: space-between;
}

@media screen and (max-width: 965px) {
  .main-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }

  .binary-container {
    grid-area: 1 / 1 / 9 / 6;
    background-color: white;
    position: relative;
  }

  .js-container {
    grid-area: 1 / 6 / 9 / 10;
  }

  .events-container {
    grid-area: 1 / 10 / 4 / 13;
  }

  .blog-container {
    grid-area: 4 / 10 / 7 / 13;
  }

  .contacts-container {
    grid-area: 7 / 10 / 9 / 13;
  }

  .java-container {
    grid-area: 9 / 1 / 13 / 7;
  }

  .qa-container {
    grid-area: 13 / 1 / 17 / 7;
  }

  .php-container {
    grid-area: 9 / 7 / 13 / 13;
  }

  .net-container {
    grid-area: 13 / 7 / 17 / 13;
  }
}